/* -------------- Common Code Or Functions --------------  */

@mixin common-property {
    color: $h1-color;
    letter-spacing: 2px;
    text-transform: capitalize;
}

// 2. Mixin for badge styles
@mixin badge($textColor, $bgColor) {
    background: $bgColor !important;
    color: $textColor !important;
    border: none !important;
    min-width: 58px !important;
    border-radius: 10px;
    font-weight: 500 !important;
  }
